---

import MainLayout from "../layouts/MainLayout.astro"
const {title = 'Main Page'} = Astro.props; 
---
<MainLayout {title}>
	<main class="mb-5 mx-5">
		<h1 class="select-none  text-3xl  lg:text-4xl text-left lg:font-bold font-semibold text-zinc-800 dark:text-zinc-200 mt-20  " >Time to take a sip</h1>
		<a class="  text-md  md:text-xl text-left lg:font-bold font-semibold text-amber-400 dark:text-amber-100 mt-2 mx-1 underline  " href="https://www.instagram.com/polymorph.mdc/" >@polymorph.mdc</a>
		<div class="select-none flex flex-col lg:end-5 lg:top-52  lg:absolute mt-10 rounded-md py-2 px-2  divide-y-2 divide-zinc-300 dark:divide-zinc-800 ">
		<p class="  text-lg  md:text-lg text-left lg:font-bold font-semibold text-zinc-800 dark:text-zinc-200 pb-1 mx-1 lg:mx-0" >From  <b class="text-xl ml-5 lg:ml-8">18:00</b></p>
		<h2 class="  text-lg  md:text-lg text-left lg:font-bold font-semibold text-zinc-800 dark:text-zinc-200 pt-1  mx-1 lg:mx-0 " >To  <b class="text-xl ml-11 lg:ml-14">00:00</b></h2>
		</div>
		<div class=" py-10 dark:border-zinc-800 scroll-smooth mt-5 lg:mt-10 mb-5 font-semibold text-xl grid grid-cols-1 lg:grid-cols-3   overflow-x-hidden  overflow-y-auto gap-y-11 lg:gap-5  rounded-lg bg-gradient-to-tr from-[#e9e9f0] to-[#ececf5] dark:from-[#0e0e0f] shadow-xl shadow-zinc-300 dark:shadow-zinc-950 text-neutral-400 p-5 mx-auto lg:mx-0 w-full  ">
			<div class=" rounded-2xl min-w-60 lg:max-w-lg lg:h-96  h-48 sm:h-56 md:h-64 py-0" style="background-image: url(MOTOR.webp); background-repeat: no-repeat; background-size: cover; will-change: transform;  "> 
			<h1 class="rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64">
			<a href="https://polymorphmdc.github.io/PolymorphBikeAR/" class=" bg-zinc-900  w-full py-3 px-5 border-b-2 border-zinc-800 bottom-0 absolute rounded-b-2xl flex flex-row place-content-between">
				3D Bike <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m184 112l144 144l-144 144"/>
			  </svg>
			</a>
			</h1>
			</div>
			<!--  -->
			<div class=" rounded-2xl min-w-60 lg:max-w-lg lg:h-96  h-48 sm:h-56 md:h-64 py-0" style="background-image: url(menu.webp); background-repeat: no-repeat; background-size: cover; will-change: transform;"> 
			  <h1 class=" rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64">
			  <a href="https://polymorphmdc.github.io/Menu-Polymorph/" class=" bg-zinc-900  w-full py-3 px-5 border-b-2 border-zinc-800 bottom-0 absolute rounded-b-2xl flex flex-row place-content-between">
				  Top 5 Menu <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m184 112l144 144l-144 144"/>
			  </svg>
			  </a>
			  </h1>
			  </div>
			  <!--  -->
			   <div class="rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64 py-0" style="background-image: url(w.jpg); background-repeat: no-repeat; background-size: cover; will-change: transform; ">  <!-- img source : https://cdn.dribbble.com/users/178191/screenshots/2066236/media/45b293d670c6a628e72974e5b9688b79.jpg?resize=400x300&vertical=center -->
				<h1 class="rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64">
				<a href="howtouse" class=" bg-zinc-900  w-full py-3 px-5 border-b-2 border-zinc-800 bottom-0 absolute rounded-b-2xl flex flex-row place-content-between">
					Cara Penggunaan <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m184 112l144 144l-144 144"/>
			  </svg>
				</a>
				</h1>
				</div>
			  <!--  -->
			 <div class="rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64 py-0" style="background-image: url(ar.png); background-repeat: no-repeat; background-size: cover; will-change: transform; ">   <!-- img source :  https://cdn.dribbble.com/users/1511612/screenshots/4162919/media/0c9489a4d9acd2b72634ff7f1a1e8d9b.png?resize=768x576&vertical=center -->
			  <h1 class=" rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64">
			  <a href="whatis" class=" bg-zinc-900  w-full py-3 px-5 border-b-2 border-zinc-800 bottom-0 absolute rounded-b-2xl flex flex-row place-content-between">
				  Apa itu AR? <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m184 112l144 144l-144 144"/>
			  </svg>
			  </a>
			  </h1>
			  </div>
			  <!--  -->
			<div class="rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64 py-0" style="background-image: url(rev.png); background-repeat: no-repeat; background-size: cover; will-change: transform;   ">   <!-- img source : https://cdn.dribbble.com/users/313559/screenshots/2392637/media/c1192aaa5683687e440847474da625e0.png?resize=400x300&vertical=center -->
			  <h1 class=" rounded-2xl min-w-60 lg:max-w-lg lg:h-96 h-48 sm:h-56 md:h-64">
			  <a href="" class=" bg-zinc-900  w-full py-3 px-5 border-b-2 border-zinc-800 bottom-0 absolute rounded-b-2xl flex flex-row place-content-between">
				  Review <svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m184 112l144 144l-144 144"/>
			  </svg>
			  </a>
			  </h1>
			  </div>
		  </div>

	</main>
	
</MainLayout>

